body{
    margin: 0;
    padding: 0;
}
.containerdiv{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.containernav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    -webkit-box-shadow: 1px 6px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 6px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 1px 6px 5px -3px rgba(0,0,0,0.75);
}
.secondContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerseconddiv{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
#customButton{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #007663;
    border-radius: 6px;
    padding: 0.4rem 1.4rem;
    border: none;
    outline: none;
    cursor: pointer;
}
#imageUpload {
    display: none;
  }
.thirdContainer{
    display: flex;
    justify-content: center;
    align-items: center;
 
  
  }
  #previewContainer{
 
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  #previewImage{
    height:70%; 
    width: 20%
  }